.container {
  margin-bottom: 100px;
}

.orange-bg {
  background-color: #fceae8;
  border-radius: 10px;
}

.carousel-item {
  padding: 20px 40px;
}

.price {
  color: #ff136f;
}

.buy-now-btn {
  background-image: repeating-linear-gradient(
    to bottom,
    #ff589b 0%,
    #ff136f 100%
  );
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}

.categories h1 {
  color: white;
}

.categories img {
  width: 100px;
}

.orange-box,
.purpale-box,
.blue-box {
  padding: 10px 20px;
  border-radius: 10px;
}

.orange-box {
  background-color: orange;
}

.purpale-box {
  background-color: purple;
}

.blue-box {
  background-color: blue;
}

.card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 10px;
}

.subscriber {
  height: 300px;
}

.subscriber p {
  color: gray;
}
